<div class="mainView">
    <div class="basicInfo">
        July 2026 Investment Total: {{currentInvestments | currency}}
        <br/>
        2026 Yearly Investment Contributions: {{yearlyContributions | currency}}
        <br />
        2026 Yearly Expenses: {{currentExpenses | currency}}
    </div>
    <div class="options">
        <div class="option">
        <label>
            <input type="checkbox" [(ngModel)]="includeCushion" (change)="calculateTotalInvestmentsNeeded()">
            Include an additional $10,000 a year cushion
        </label>
        </div>        
        <div class="option">
        <label>
            <input type="checkbox" [(ngModel)]="adjustSpendingFor1Kid" (change)="calculateTotalInvestmentsNeeded()">
            Include increased spending for 1 kid ($250,000)
        </label>
    </div>
    <div class="option">
        <label>
            <input type="checkbox" [(ngModel)]="adjustSpendingFor2Kids" (change)="calculateTotalInvestmentsNeeded()">
            Include increased spending for 1 kid ($250,000)
        </label>
    </div>
    <div class="option">
        <label>
            <input type="checkbox" [(ngModel)]="removeMortgageEntirely" (change)="calculateTotalInvestmentsNeeded()">
            Remove Mortgage Payments
        </label>
        </div>
        <div class="option">
        <label>
            <input type="checkbox" [(ngModel)]="reduceSpending" (change)="calculateTotalInvestmentsNeeded()">
            Reduce spending by 10%
        </label>
        </div>
        <div class="option">
        <label>
            <input type="checkbox" [(ngModel)]="increaseSpending" (change)="calculateTotalInvestmentsNeeded()">
            Increase spending by 10%
        </label>
        </div>
        <div class="option">
        <label>
            <input type="checkbox" [(ngModel)]="noContributions" (change)="calculateTotalInvestmentsNeeded()">
            Stop monthly contributions
        </label>
        </div>
        <div class="option">
        <label>
            <input type="checkbox" [(ngModel)]="doubleContributions" (change)="calculateTotalInvestmentsNeeded()">
            Double monthly contributions
        </label>
        </div>


    </div>
    <div class="results result-panel">
        <span class="result-value">
            {{ countdown.years }} years,
            {{ countdown.months }} months,
            {{ countdown.days }} days
            <!--,{{ countdown.hours }} hours,
            {{ countdown.minutes }} minutes,
            {{ countdown.seconds }} seconds-->
        </span>
        <!--<app-data-card></app-data-card>-->
        <div class="result-label">
            <span class="disclaimer">For 4% withdrawal rate</span>
            <br />
            <span>Total Investments Needed: {{totalInvestmentsNeeded | currency}}</span>
            @if (includeCushion) {
            <br/>
            <span>Include {{10000 | currency}} annually in expenses</span>
            }
            @if (reduceSpending) {
            <br/>
            <span>Reduce expenses by 10%</span>
            }
            @if (increaseSpending) {
            <br/>
            <span>Increase expenses by 10%</span>
            }
            @if (noContributions) {
            <br/>
            <span>Set yearly contributions to $0</span>
            }
            @if (doubleContributions) {
            <br/>
            <span>Double yearly contributions to {{yearlyContributions * 2 | currency}}</span>
            }
            @if (!removeMortgageEntirely) {
            <br/>
            <span>Include {{this.adjustMortgagePayments() | currency}} lump sum for remaining mortgage payments</span>
            }
            @if (adjustSpendingFor1Kid && adjustSpendingFor2Kids) {
            <br/>
            <span>Include {{this.costPerKid * 2 | currency}} lump sum for 2 kids</span>
            }
            @else if (adjustSpendingFor1Kid && adjustSpendingFor2Kids) {
                <br/>
            <span>Include {{this.costPerKid | currency}} lump sum for 1 kid</span>            
            }
        </div>
    </div>
</div>